[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/alex31/ChibiOS_mirror.git
[submodule "chibios_enac_various_common"]
	path = chibios_enac_various_common
	url = https://github.com/alex31/chibios_enac_various_common.git
[submodule "EmbeddedProto"]
	path = EmbeddedProto
	url = https://github.com/Embedded-AMS/EmbeddedProto.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "proto"]
	path = proto
	url = git@github.com:ENACRobotique/proto.git
